/******************************** Master Styles ********************************/
html {
    /* overflow-x: hidden; */
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    max-width: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    transition: 2s;
}

/******************************** Scrollbar Styles ********************************/
/* Entire scrollbar */
::-webkit-scrollbar {
    width: 7px;
    left: 3px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background-color: #111;
}

/* Scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
    background-color: rgb(62, 62, 62);
    border-radius: 4px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*********************************************************************************/
/*                                Nav Bar Styles                                 */
/*********************************************************************************/

/****************************** Main Nav Bar Styles ******************************/
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(1, 1, 1, 0); 
    z-index: 1000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* To support Safari and Safari on iOS */
    animation: fadeInAnimation 1s ease-in-out;
}

.navbar-wrapper.scrolling {
    transform: translateY(-100%);
}

/******************************** Nav Link Styles ********************************/
.nav-links-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px;
    animation: fadeInAnimation 1s ease-in-out;
}

.nav-link {
    display: flex;
    position: relative;
    font-family: monospace;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 3rem;
    padding: 15px 0;
    justify-content: space-evenly;
}

.nav-link::before {

    content: attr(data-number) ". ";
    position: absolute;
    right: 100%;
    margin-right: 5px;
    font-size: 1rem;
    color: rgb(0, 217, 255, 0.5);
}
  
.nav-link:hover {
    color: rgb(0, 217, 255, 0.5);
}

.nav-link:hover::after {
    content: "";
    display: block;
    position: absolute;
    padding: 20px 0px;
    height: 2px;
    width: 100%; 
    border-bottom: 1px solid rgb(0, 217, 255, 0.5);
    transition: border-bottom 0.5s;
    padding-bottom: 1px;
    animation: fadeInAnimation 0.5s ease-in-out;
}

.nav-links-wrapper {
    display: flex;
    font-size: 0.9em;
    color: white;
    align-items: center;
    transition: 2s;
    animation: fadeInAnimation 1s ease-in-out;
}

.resume-button {
    font-family: monospace;
    color: rgb(0, 217, 255, 0.5);
    margin-left: 2rem;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid rgb(0, 217, 255, 0.5);
    border-radius: 4px;
    font-size: 1.4em;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.resume-button:hover {
    background-color: rgb(0, 217, 255, 0.2);
    color: rgb(0, 217, 255, 0.5);
    transition: 1s;
    transform: scale(1.1);
    
}

/******************************** Logo Styles ********************************/
.brand {
    position: relative;
    padding: 0 30px;
}

.logo-image {
    width: 50px;
    height: auto;
    transition: 2s;
    padding-bottom: 1px;
    animation: fadeInAnimation 1s ease-in-out;
}

.logo-image:hover {
    transition: 1s;
    transform: scale(1.3);
}

/******************************** Hamburger Styles ********************************/
.hamburger {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
  
.bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 7px 0;
    background-color: #ffffff;
}

.overlay-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999; /* To ensure it sits below the menu but above other content */
    display: none; /* Hidden by default */
}

@media only screen and (max-width: 768px) {
    .navbar-wrapper {
        padding: 15px 20px 5px;
        margin: 0;
        position: -webkit-sticky;
        position: sticky;
    }
    
    .brand {
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    .logo-image { 
        width: 55px;
        height: auto;
        padding-bottom: 1px;
    }

    .nav-links-wrapper {
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .nav-link {
        flex-direction: column; /* Changes the direction to column for mobile */
        align-items: center; /* Centers the content horizontally */
        margin: 0; /* Removes the margin around the nav links */
        padding: 30px 0; /* Adds some padding around the nav links */
        font-size: 1rem; /* Adjusts the value to change the size of the nav links */
    }

    .nav-link::before {
        right: auto; /* Resets the right positioning */
        bottom: 60px; /* Adjust this value to position the number */
        margin-right: 0; /* Resets the right margin */
        margin-left: 0; /* Resets the left margin */
        font-size: 1rem; /* Adjust this value to change the size of the number */
    }

    .resume-button {
        margin-top: 10%; 
        margin-right: 10%;
        font-size: 1rem; /* Adjust the value to change the size of the button */
        padding: 15px 45px; /* Adjust the first value to change the height of the button */
    }
    
    .hamburger {
        display: block; /* Shows the hamburger */
        position: fixed; /* Keeps the hamburger fixed on the screen */
        top: 25px; /* Adjusts the value to move the hamburger up or down */
        right: 20px; /* Adjusts the value to move the hamburger left or right */
        z-index: 1001; /* This ensures the hamburger is above the menu */
    }

    .nav-links-wrapper.responsive {
        flex-direction: column;
        position: fixed;
        justify-content: left;
        top: -12%;
        right: -3%;
        padding-left: 0;
        padding-top: 60%;
        width: 70%;
        height: 100vh;
        background-color: #222;
        animation: slideInFromRight 0.5s ease-in-out;
        z-index: 1000; /* This keeps the menu just below the hamburger but above the rest of the page content */
    }
}

/*********************************************************************************/
/*                               Fixed Socials Styles                            */
/*********************************************************************************/

/******************************** Social Links ********************************/
.social-links-wrapper {
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    animation: fadeInAnimation 1s ease-in-out;
}

.social-links-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 87%;
    bottom: 0;
    margin-left: 62%;
    border-left: 1px solid #ffffff;
}

.social-links {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 78%;
    margin-left: 38%;
    transform: translateY(-50%);
}

.social-links img {
    width: 25px;
    padding-bottom: 10px;
    margin: 5px auto;
    cursor: pointer;
    animation: growInAnimation 0.5s ease-in;
    transition: 1s;
}

.social-links img:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
    .social-links-wrapper {
        visibility: hidden;
    }
}

/******************************** Vertical Email Stlyes ********************************/
.email-vertical {
    font-family: monospace;
    font-size: 1.1em;
    position: fixed;
    top: 84%;
    right: 42px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: top right;
    color: white;
    padding-right: 10px;
    animation: fadeInAnimation 2s ease-in-out;
}

.email-vertical:hover {
    color: rgb(0, 217, 255, 0.5);
    transition: 1s;
    transform: scale(1.2) translateY(-50%) rotate(90deg);
}

.email-vertical a {
    color: white;
    text-decoration: none;
}

.email-vertical a:hover {
    color: rgb(0, 217, 255, 0.5);
}

.email-vertical-wrapper {
    width: 100px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.email-vertical-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 87%;
    bottom: 0;
    margin-left: 48%;
    border-left: 1px solid #ffffff;
    animation: fadeInAnimation 1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .email-vertical-wrapper {
        visibility: hidden;
    }
}

/*********************************************************************************/
/*                                  Intro Styles                                 */
/*********************************************************************************/

.content-wrapper-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: left; 
    margin-left: 30%;
    animation: fadeInAnimation 2.5s ease-in-out;
}

.text-color-intro {
    color: rgb(0, 217, 255, 0.5);
    font-size: 1.3rem;
    font-family: monospace;
}

.name-intro {
    display: inline;
    font-weight: bold;
    color: white;
    font-size: 5rem;
    line-height: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-intro {
    display: inline;
    font-weight: bold;
    font-size: 4.5rem;
    color: grey;
    line-height: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph-intro {
    max-width: 35%;
    margin-right: auto;
    line-height: 1.5;
    color: grey;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-button-intro {
    color: rgb(0, 217, 255, 0.5);
    padding: 20px 30px;
    margin-top: 15%;
    background: transparent;
    border: 1px solid rgb(0, 217, 255, 0.5);
    border-radius: 5px;
    font-size: 1rem;
    font-family: monospace;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.about-button-intro:hover {
    background-color: rgb(0, 217, 255, 0.2);
    color: rgb(0, 217, 255, 0.5);
    transition: 1s;
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .content-wrapper-intro {
        margin-left: 0;
        padding: 0 20px;
        height: 90vh;
    }

    .text-color-intro {
        font-size: 0.9rem;
        font-family: monospace;
    }

    .name-intro {
        font-size: 2.4rem;
        line-height: 0.9;
    }

    .welcome-intro {
        font-size: 2.4rem;
        line-height: 0.8;
    }

    .paragraph-intro {
        max-width: 100%;
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .about-button-intro {
        font-size: 0.9rem;
        padding: 20px 20px;
    }
}

/*********************************************************************************/
/*                              Section Header Styles                            */
/*********************************************************************************/

.section-header {
    color: white;
    margin: 5%;
    position: relative;
    display: block;
    padding-left: 3%; 
    font-family: monospace;
    font-size: 1.4rem;
    margin-left: 15%;
    animation: fadeInAnimation 2.5s ease-in-out;
}

.section-header::before {
    content: attr(data-number) '. ';
    font-size: 1.4rem;
    font-weight: bold;
    font-family: monospace;
    color: rgb(0, 217, 255, 0.5);
    position: absolute;
    left: 0;

}

.section-header::after {
    content: '';
    position: absolute;
    top: calc(100% + -12px);
    height: 1px;
    width: 30%;
    margin-left: 10px;
    background-color: rgb(82, 82, 82);
}

@media only screen and (max-width: 768px) {
    
    .section-header {
        font-size: 1.2rem;
        margin-left: 5%;
        padding-left: 10%; 
    }

    .section-header::before {
        font-size: 1.2rem;
    }

    .section-header::after {
        width: 50%;
    }
}


/*********************************************************************************/
/*                                  Academics Styles                             */
/*********************************************************************************/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    25% {
        transform: translateX(-75%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: 0;
    }
    75% {
        transform: translateX(-25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    25% {
        transform: translateX(75%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: 0;
    }
    75% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-from-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: slideInFromLeft 3s ease-in;
}

.slide-in-from-right {
    opacity: 0;
    transform: translateX(100%);
    transition: slideInFromRight 3s ease-in;
}

.visible {
    opacity: 1;
    transform: translateX(0);
    transition: all 3s ease-in;
}

/* Main Container */
.content-wrapper-academics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2% 0; /* Adding some padding to avoid content sticking to the edges */
}

/* Each College Section */
.item-wrapper-academics {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust based on your design preference */
    margin: 2% 0; /* Some space between each section */
}

.item-wrapper-academics:hover .img-bkgrd-miracosta,
.item-wrapper-academics:hover .img-bkgrd-CSUSM {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* Background Image Containers */
.img-bkgrd-miracosta {
    background-image: url('images/miracosta.jpg');
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 25%;
}

.img-bkgrd-CSUSM {
    background-image: url('images/CSUSM.jpg');
    width: 25%; 
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 25%;
    background-color: #555;
}

.img-bkgrd-miracosta, .img-bkgrd-CSUSM {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out, transform 0.5s;
    border-radius: 5px;
}

/* Logo Wrappers */
.logo-wrapper-academics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-wrapper-academics img {
    max-width: 100%; /* Adjust for your preferred logo size */
    max-height: 100%;
    object-fit: contain;
}

.item-info-academics-associates, .item-info-academics-bachelors {
    position: absolute; /* Using absolute positioning to float them over the image */
    width: 20%; /* Adjust this if the box is too wide or narrow */
    top: 75%; /* Centers it vertically */
    transform: translateY(-50%); /* Ensures it remains vertically centered regardless of height */
}

.item-info-academics-associates {
    right: 31%; /* Moves it slightly from the left edge */
}

.item-info-academics-bachelors {
    left: 31%; /* Moves it slightly from the right edge */
}

.item-text-academics-miracosta, .item-text-academics-CSUSM {
    text-align: center;
}

/* Text Boxes */
.text-box {
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin-bottom: 2%; /* Reduced margin-bottom */
    color: white;
}

.text-box p:not(:last-child) {
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {

    .content-wrapper-academics {
        padding: 0 0;
        margin: 20% 0;
    }

    .img-bkgrd-miracosta, .img-bkgrd-CSUSM {
        width: 100%;
        height: 200px;
        margin: 0;
        transition: none;
        transform: none;
        overflow-x: hidden;
    }
    
    .item-info-academics-associates, .item-info-academics-bachelors {
        position: static;
        width: 100%;
        margin-top: -5px;
        transform: translateY(0);
        opacity: 1;
    }
    

    .item-info-academics-associates {
        right: 31%;
    }

    .item-info-academics-bachelors {
        left: 31%;
    }
}

/*********************************************************************************/
/*                            Work Experience Styles                             */
/*********************************************************************************/

.content-wrapper-work {
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2% 0;
}

.item-wrapper-work {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    margin: 2% auto;
}

.img-bkgrd-work {
    background-image:url(images/Boeing787Plant.jpg);
    flex: 1;
    height: 100%;
    border-radius: 5px;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    transition: filter 0.3s, transform 0.5s;
}

.item-wrapper-work:hover .img-bkgrd-work {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
}

.item-wrapper-work:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-wrapper-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-wrapper-work img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}

.item-info-work {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #2d2d2d;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

.subtitle-work {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .content-wrapper-work {
        padding: 0 0;
    }
    
    .item-wrapper-work {
        position: relative;
        flex-direction: column;
        padding-top: 15%;
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    
    .img-bkgrd-work {
        position: relative; 
        top: 0;
        width: 100%;
        height: 250px;
        z-index: 2;
        filter: 0;
        transform: 0;
        transition: 0;
    }
    
    .item-wrapper-work:hover .img-bkgrd-work {
        filter: none;
        transform: 0;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        transition: none;
    }
    
    .item-wrapper-work:hover .overlay {
        background-color: none;
    }
    
    .item-info-work {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 250px;
        z-index: 0;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }
}

/*********************************************************************************/
/*                                 Project Styles                                */
/*********************************************************************************/

.content-wrapper-projects {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 200px;
    height: 100vh;
}

.tabs {
    max-width: 75%;
    height: 90%;
    background-color: #111;
    padding: 30px;
    /* box-shadow: 0px 2px 16px rgb(0, 0, 0, 0.1); */
    border-radius: 20px;
    margin: 0 auto;
}

.tab-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.tab-menu::before {
    content: ""; /* Pseudo-element to be generated */
    position: absolute;
    bottom: 0; /* Position at the bottom of the .tab-menu */
    left: 50%; /* Center the pseudo-element */
    width: 96%;
    border-bottom: 2px solid rgb(195, 195, 195);
    transform: translateX(-50%); /* Center the pseudo-element */
}

.tab-menu .tab-menu-item {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.tabs .tab-menu-item.active {
    color: rgb(0, 217, 255, 0.5);
}

.tab-content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px; 
}

.tab-content-wrapper .project-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s, visibility 0.5s;
}

.tab-content-wrapper .project-content.visible {
    opacity: 1;
    visibility: visible;
    animation: moving 0.2s ease;
}

@keyframes moving {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0px); opacity: 1; }
}

.tab-content-wrapper .project-content p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 30px;
}

.line {
    position: absolute;
    top: 92%;
    left: 0;
    width: 90%;
    height: 5px;
    background-color: rgb(26, 112, 141);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.logo-wrapper-project img {
    width: 60%;  
    height: 40%;
    object-fit: cover; 
    margin-left: 18%;
    margin-top: 5%;
}

@media only screen and (max-width: 768px) {

    .content-wrapper-projects {
        padding: 0 0;
        margin: 20% 0;
    }

    .tabs {
        max-width: 90%;
        padding: 20px;
        height: 65%;
        background-color: #111;
        box-shadow: none;
    }

    .tab-menu {
        flex-direction: column; /* Stack menu items vertically */
        border-bottom: none; /* Remove border as items are stacked */
    }

    .tab-menu .tab-menu-item {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .tab-content-wrapper .project-content p {
        font-size: 0.8rem;
        line-height: 25px;
    }

    .line {
        display: none;
    }

    .logo-wrapper-project img {
        width: 80%;  
        height: 50%;
        margin-left: 10%;
        margin-top: 2%;
    }
}

/*********************************************************************************/
/*                                 Contact Styles                                */
/*********************************************************************************/
.section-header-contact {
    color: white;
    margin: 5%;
    position: relative;
    display: block;
    padding-left: 3%; 
    font-family: monospace;
    font-size: 1.4rem;
    margin-left: 15%;
    animation: fadeInAnimation 2.5s ease-in-out;
}

.section-header-contact::before {
    content: attr(data-number) '. ';
    font-size: 1.4rem;
    font-weight: bold;
    font-family: monospace;
    color: rgb(0, 217, 255, 0.5);
    position: absolute;
    left: 0;

}

.section-header-contact::after {
    content: '';
    position: absolute;
    top: calc(100% + -12px);
    height: 1px;
    width: 30%;
    margin-left: 10px;
    background-color: rgb(82, 82, 82);
}

.content-wrapper-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    height: calc(100vh - 300px);
}
  
.content-wrapper-contact .contact-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.content-wrapper-contact .contact-overlay h3 {
    color: white;
    font-size: 3.2em;

}
  
.content-wrapper-contact .contact-overlay p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
    margin-top: -30px;
}

.email-button {
    color: rgb(0, 217, 255, 0.5);
    padding: 20px 32px;
    margin-top: 40px;
    background: transparent;
    border: 1px solid rgb(0, 217, 255, 0.5);
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10%;
}

.email-button a {
    color: rgb(0, 217, 255, 0.5);
    text-decoration: none;
}

.email-button:hover a {
    color: rgb(0, 217, 255, 0.5);
}

.email-button:hover {
    background-color: rgb(0, 217, 255, 0.2);
    transition: 1s;
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    
    .section-header-contact {
        font-size: 1.2rem;
        margin-left: 5%;
        padding-left: 10%; 
    }

    .section-header-contact::before {
        font-size: 1.2rem;
        
    }

    .section-header-contact::after {
        width: 38%;
    }

    .content-wrapper-contact {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .content-wrapper-contact .contact-overlay h3 {
        font-size: 2.4rem;
    }

    .content-wrapper-contact .contact-overlay p {
        font-size: 0.9rem;
        line-height: 1.5;
        max-width: 90%;
    }
}

.social-links-footer {
    width: 50px;
    text-align: center;
    position: absolute;
    margin-left: 40%;
    bottom: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.social-links-footer img {
    width: 25px;
    padding-bottom: 5px;
    margin: 5px auto;
    cursor: pointer;
    animation: growInAnimation 0.5s ease-in;
    transition: 1s;
}

.social-links-footer img:hover {
    transform: scale(1.3);
}

@media only screen and (min-width: 768px) {
    .social-links-footer-wrapper {
        visibility: hidden;
    }
}

footer {
    position: relative;
    margin-bottom: 1%;
    left: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-family: monospace;
}

footer a {
    text-decoration: none;
    color: grey;
}

footer:hover a {
    color: rgb(0, 217, 255, 0.5);
}

/*********************************************************************************/
/*                                  About Styles                                 */
/*********************************************************************************/
.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 80px 20px; /* Adds padding on all sides */
    max-width: 80%; /* Adjust as needed */
    margin: 50px auto; /* Centers the section with margin above and below */
    animation: fadeInAnimation 1.5s ease-in-out; 
}

.about-header {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff; /* Dark grey for the text */
    margin-bottom: 20px; /* Spacing between the header and content */
}

.about-content {
    font-size: 1em;
    color: #888; /* Medium grey for content text */
    line-height: 1.5; /* Improved readability */
    text-align: center; /* Centered text, can be changed to 'left' or 'justify' if preferred */
    max-width: 70%; /* Line length control for better readability */
}