/* Master Styles */
html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: black;
    max-width: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 80px;
    margin-right: 80px;
    transition: 2s;
}

.content-wrapper {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Nav bar Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    animation: fadeInAnimation 1s ease-in-out;
}

.left-side { 
    font-size: 1.4rem;  
    color: white;
    text-transform: uppercase;
}

.right-side {
    display: flex;
    font-size: 0.8em;
    color: white;
    align-items: center;
    transition: 2s;
    animation: fadeInAnimation 1s ease-in-out;
}

.brand {
    /* border-bottom: 1px solid white; */
    padding-bottom: 6px;
    margin-left: 10%;
    margin-top: 30px;
    transition: 2s;
    animation: fadeInAnimation 1s ease-in-out;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-left: 22%;
    border-bottom: 1px solid white;
}

.side-bar {
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.side-bar::after {
    content: "";
    display: block;
    position: absolute;
    top: 82%;
    bottom: 0;
    margin-left: 50%;
    border-left: 1px solid #ffffff;
}

.social-links {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 75%;
    margin-left: 27%;
    transform: translateY(-50%);
}

.social-links img {
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
    animation: growInAnimation 1s ease-in;
    transition: 0.2s;
}

.social-links img:hover {
    transform: scale(1.3);
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    /* text-transform: uppercase; */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: White;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid White;
}

.nav-link-wrapper a:hover {
    color: white;
}

.active-nav-link {
    border-bottom: 1px solid White;
}

.active-nav-link a{
    color: White !important;
}

/* Resume Button */
.resume-button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    /* animation: fadeInAnimation 2s ease-in-out; */
}

.resume-button:hover {
    border-radius: 50%;
}

.contact-button {
    color: #fbfcfd;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    /* animation: fadeInAnimation 2s ease-in-out; */
}

.contact-button:hover {
    border-radius: 50%;
}

/* Introduction Styles */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    text-align: left; 
    color: white;
    margin-left: 15%;
    animation: fadeInAnimation 2.5s ease-in-out;
}

/* .text-color {

} */

.name {
    display: inline;
    font-weight: bolder;
    font-size: 55px;
}

.welcome {
    display: inline;
    font-weight: bold;
    font-size: 50px;
    color: grey;
}

.custom-line-height {
    line-height: 0.6;
}

.intro-paragraph {
    max-width: 45%;
    margin-right: auto;
    /* text-align: justify; */
    line-height: 1.4;
    color: grey;
}

/* Main Styles */
.port-header {
    display: grid;
    width: 100%;
    justify-content: center;
    animation: fadeInAnimation 1s ease-in-out;
    text-align: center;
    color: white;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    transition: 2s;
    animation: fadeInAnimation 2s ease-in-out;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.academics{
    grid-template-columns: 1fr 1fr;
}

.work {
    align-items: center;
    grid-template-columns: 1fr;
    transition: 0.5s;
    height: 350px;
    width: 50%;
    padding-left: 25%;

}

.portfolio-item-wrapper {
    position: relative;
    width: 95%;
    transition: 0.5s;
    padding: 16px;
    border-radius: 0%;
    animation: slideInAnimation 1.5s ease-out;
    justify-content: center;
    align-content: center;
}

.portfolio-items-wrapper a{
    text-decoration: none;
}

.portfolio-item-wrapper:hover {
    transform: scale(1.05);
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    height: 350px;
    width: 100%;
    border-radius: 5%;
    animation: slideInAnimation 1.5s ease-out;
    z-index: 0;
    transition: 0.5s;
}
.academics-bg{
    border-radius: 0;
    height: 400px;
}

.img-darken {
    transition: 0.5s;
    filter: brightness(25%);
}

.portfolio-item-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: transparent;
    transition: 0.5s;
}

.portfolio-item-text {
    padding-left: 16px;
    padding-right: 16px;
}

.logo-wrapper {
    animation: fadeInAnimation 3s ease-in;
}

.logo-wrapper img{
    width: 50%;
}

/* .more-info-button{
    color: transparent;
    font-size: 1.2em;
} */

.portfolio-item-info:hover {
    transition: 0.5s;
    color: white;
}

/* .portfolio-item-info:hover a{
    transition: 0.5s;
    color: rgb(1, 187, 1);
    border-bottom: 2px solid rgb(1, 187, 1);
} */

.subtitle {
    padding-top: 4px;
    text-align: center;
    font-size: 1.4em;
    transition: 0.5s;
    font-weight: bolder;
}

.portfolio-item-info p {
    padding-left: 25px;
    padding-right: 25px;
}

.subtitle-education {
    padding-top: 4px;
    text-align: center;
    font-size: 1.1em;
    transition: 0.5s;
    color: white;
}

.fade-out {
    transition: 0.5s;
    color: transparent;
}

/* Styles for smaller screens (e.g., smartphones) */
@media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }

/* About page Styles */
.two-column-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    animation: fadeInAnimation 2s ease-in-out;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: white;
}

.profile-content-wrapper p {
    color: gray;
}

/* Contact page Styles */
.container-contact {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.container-contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    animation: fadeInAnimation 2s ease-in-out;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.form-field {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    animation: fadeInAnimation 3s ease-in-out;
}

input, textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    resize: none;
    animation: fadeInAnimation 3s ease-in-out;
}

input[type=submit] {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    animation: fadeInAnimation 2s ease-in-out;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}
